In [3]:
!pwd

/home/infres/amathur-23/DADA/src/baselines/SLIM

In [4]:
import pandas as pd

df = pd.read_csv("/home/infres/amathur-23/DADA/datasets/InTheWild/meta.csv")

df.head()

    file               speaker      label
0  0.wav         Alec Guinness      spoof
1  1.wav         Alec Guinness      spoof
2  2.wav          Barack Obama      spoof
3  3.wav         Alec Guinness      spoof
4  4.wav  Christopher Hitchens  bona-fide

In [7]:
df['file'].values

array(['0.wav', '1.wav', '2.wav', ..., '31776.wav', '31777.wav',
       '31778.wav'], dtype=object)