In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("/data/iivanova-23/data/wild_wiki.csv")
df.head()

,text,author_name,tokens,label,length,type,index,file
0,Zen … does not confuse spirituality with think...,Alan Watts,23,22,137.0,bona-fide,1,NaN
1,Trying to define yourself is like trying to bi...,Alan Watts,12,22,64.0,bona-fide,2,NaN
2,I have suggested that behind almost all myth l...,Alan Watts,16,22,93.0,bona-fide,3,NaN
3,To have faith is to trust yourself to the wate...,Alan Watts,34,22,169.0,bona-fide,4,NaN
4,This is the real secret of life — to be comple...,Alan Watts,32,22,155.0,bona-fide,5,NaN

In [7]:
author_id_map = (
    df[["label", "author_name"]]
    .drop_duplicates()
    .set_index("label")
    .to_dict()["author_name"]
)

author_id_map

{22: 'Alan Watts',
 0: 'Alec Guinness',
 28: 'Alexandria Ocasio-Cortez',
 13: 'Arnold Schwarzenegger',
 3: 'Ayn Rand',
 1: 'Barack Obama',
 5: 'Bernie Sanders',
 15: 'Bill Clinton',
 48: 'Billie Eilish',
 8: 'Bob Ross',
 21: 'Boris Johnson',
 6: 'Calvin Coolidge',
 2: 'Christopher Hitchens',
 4: 'Donald Trump',
 36: 'Frank Sinatra',
 30: 'Franklin D. Roosevelt',
 47: 'Fred Rogers',
 40: 'George Carlin',
 19: 'George W. Bush',
 50: 'Harry S. Truman',
 49: 'Jeff Goldblum',
 32: 'Jerry Seinfeld',
 35: 'John Cleese',
 12: 'John F. Kennedy',
 23: 'Louis C.K.',
 37: 'Louis Farrakhan',
 41: 'Malcolm X',
 18: 'Mark Zuckerberg',
 16: 'Martin Luther King',
 29: 'Milton Friedman',
 27: 'Mitch Hedberg',
 44: 'Orson Welles',
 9: 'Richard Nixon',
 11: 'Ronald Reagan',
 51: 'Scarlett Johansson',
 33: 'Tucker Carlson',
 53: 'William F. Buckley',
 7: 'Winston Churchill',
 42: 'Robert Kardashian',
 26: 'Dwight Eisenhower',
 14: 'Nick Offerman',
 24: 'The Notorious B.I.G.',
 10: '2Pac',
 45: 'Adam Driver',
 17: 'Bill Burr',
 34: 'Nelson Mandela',
 46: 'Lyndon Johnson',
 31: 'Queen Elizabeth II',
 38: 'Norm MacDonald',
 39: 'Gilbert Gottfried',
 52: 'Kanye West',
 25: 'Jimmy Carter',
 43: 'Kamala Harris',
 20: 'Dave Chappelle'}

In [8]:
sorted_author_id_map = dict(sorted(author_id_map.items()))
sorted_author_id_map

{0: 'Alec Guinness',
 1: 'Barack Obama',
 2: 'Christopher Hitchens',
 3: 'Ayn Rand',
 4: 'Donald Trump',
 5: 'Bernie Sanders',
 6: 'Calvin Coolidge',
 7: 'Winston Churchill',
 8: 'Bob Ross',
 9: 'Richard Nixon',
 10: '2Pac',
 11: 'Ronald Reagan',
 12: 'John F. Kennedy',
 13: 'Arnold Schwarzenegger',
 14: 'Nick Offerman',
 15: 'Bill Clinton',
 16: 'Martin Luther King',
 17: 'Bill Burr',
 18: 'Mark Zuckerberg',
 19: 'George W. Bush',
 20: 'Dave Chappelle',
 21: 'Boris Johnson',
 22: 'Alan Watts',
 23: 'Louis C.K.',
 24: 'The Notorious B.I.G.',
 25: 'Jimmy Carter',
 26: 'Dwight Eisenhower',
 27: 'Mitch Hedberg',
 28: 'Alexandria Ocasio-Cortez',
 29: 'Milton Friedman',
 30: 'Franklin D. Roosevelt',
 31: 'Queen Elizabeth II',
 32: 'Jerry Seinfeld',
 33: 'Tucker Carlson',
 34: 'Nelson Mandela',
 35: 'John Cleese',
 36: 'Frank Sinatra',
 37: 'Louis Farrakhan',
 38: 'Norm MacDonald',
 39: 'Gilbert Gottfried',
 40: 'George Carlin',
 41: 'Malcolm X',
 42: 'Robert Kardashian',
 43: 'Kamala Harris',
 44: 'Orson Welles',
 45: 'Adam Driver',
 46: 'Lyndon Johnson',
 47: 'Fred Rogers',
 48: 'Billie Eilish',
 49: 'Jeff Goldblum',
 50: 'Harry S. Truman',
 51: 'Scarlett Johansson',
 52: 'Kanye West',
 53: 'William F. Buckley'}

In [9]:
import yaml

with open("configs/runs/author_id_map.yaml", "w") as f:
    yaml.dump(sorted_author_id_map, f)